@font-face {
    font-family: 'iconfont';
    src: url('./font/iconfont.eot');
    src: url('./font/iconfont.eot?#iefix') format('embedded-opentype'), url('./font/iconfont.woff2') format('woff2'), url('./font/iconfont.woff') format('woff'), url('./font/iconfont.ttf') format('truetype'), url('./font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont";
    font-style: normal;
}

.icon-star::before {
    content: "\e627"
}

.icon-close::before {
    content: "\e605"
}

.icon-xuanxiang::before {
    content: "\e60a"
}

.icon-close-condition::before {
    content: "\e641"
}

.icon-xiangqing::before {
    content: "\e61c";
}

.icon-biaoji::before {
    content: "\e9f2";
}

.icon-shoucang::before{
    content: "\e755";
}