<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>房屋数据分析推荐系统</title>
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/house_tuijian.css" />
    <link rel="stylesheet" href="../../static/fonts/font.css">
    <link rel="shortcut icon" href="../../static/images/logo.png" type="image/x-icon" />
    <script type="text/javascript"
        src="http://api.map.baidu.com/api?v=3.0&ak=FLf5ptGOGyaoR22zVAOmTdOvxCjUhkGS"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.0.0/dist/echarts.min.js"></script>
</head>

<body>
    <div class="warpper">
        <header>
            <div class="left">
                <img src="../../static/images/logo.png" alt="房屋数据分析推荐系统" />
                <span>房屋数据分析推荐系统</span>
            </div>
            <div class="right">
                <span class="head-login">登录</span>
                <span class="head-register">注册</span>
            </div>
        </header>
        <section>
            <nav>
                <dl>

                    <dd data-id="data-counter">数据可视化</dd>
                    <dd data-id="data-query" class="query_nav_box">
                        楼盘房屋数据
                        <div class="query_nav_container">
                            <span data-id="query_simple">楼盘房屋数据</span>
<!--                            <span data-id="query_condition">条件查询</span>-->
<!--                            <span data-id="query_public">公共设施查询</span>-->
                        </div>
                    </dd>
                    <dd data-id="data-analysis" class="analysis_nav_box">
                        区位资源
                        <div class="analysis_nav_container">
                            <span data-id="analysis-resources">区位资源分析</span>
<!--                            <span data-id="analysis-recommendation">区位资源查询</span>-->
                        </div>
                    </dd>
                    <dd data-id="data-compare">房源对比</dd>
                    <dd data-id="data-tuijian" class="active">房源推荐</dd>
                    <dd data-id="data-user">个人信息&后台管理</dd>

                </dl>
            </nav>

            <div class="content">
                <div class="house-tuijian-box">
                    <div class="tuijian-nav">
                        <span data-nav="user-nav" class="active">基于用户推荐</span>
                        <span data-nav="house-nav">基于小区推荐</span>
                    </div>
                    <div class="tuijian-content">
                        <div class="user-tuijian">
                            <div class="user-head">
                                <ul>

                                </ul>
                                <button type="button">更改基本信息</button>
                            </div>
                            <div class="user-content">
                                <ul class="data-list">
                                </ul>
                            </div>
                        </div>
                        <div class="house-tuijian">
                            <div class="house-content">
                                <ul class="data-list">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="../../static/js/house_tuijian.js"></script>
</body>

</html>